@page "/about"

<h2 class="fw-bold justify-content-center">About</h2>
<div class="container shadow p-4 rounded">
    <p>This is a simple currency converter built with Blazor Hybrid.</p>
    <p>It uses real-time exchange rates from OpenExchangeRates and allows saving favourite currency pairs</p>
    <br />
    <h3>Made by</h3>
    <p>Clockwork28</p>
    <p>github.com/clockwork28</p>
</div>
@code {

}