@page "/about"
<br />
<h2 class="fw-bold text-center">About</h2>
<div class="container shadow p-4 rounded align-content-center justify-content-center">
    <p>This is a simple currency converter built with Blazor Hybrid.</p>
    <p>It uses real-time exchange rates from OpenExchangeRates and allows saving favourite currency pairs</p>
    <br />
    <div class="text-center justify-content-center">
        <h3>Made by</h3>
        <p>Krzysztof Sumera</p>
        <p>github.com/clockwork28</p>
    </div>
</div>
@code {

}